{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6 ">
            <img src="{{img}}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-6 ">
            <h2>{{ title }}</h2>
            <p>{{ lend }}</p>
            <h3>レビュー一覧 {{review_num}}件</h3>
            <p>{{review_main | safe}}</p>
            <p>
                <details>
                    <summary>レビューを書く</summary>
                    ここでかくよ
                </details>
            </p>
        </div>
    </div>
            {% endblock %}
